.chatWindow{
    display: flex;
    flex-direction: column;
    height: 100%;
}
.chatWindow .chat-header {
    height: 60px;
    border-bottom: 1px solid #ccc;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-info {
    display: flex;
    align-items: center;
    cursor: pointer;
}
.chatWindow .header-info svg {
    width: 40px;
    border-radius: 50%;
    margin: 0 15px;
}
.header-name {
    font-size: 17px;
}
.chatWindow .header-btn{
    display: flex;
    align-items: center;
    margin-right: 15px;
    width: 90px;
    border-radius: 0;
}
.chatWindow .header-btn svg {
    margin-right: 10px;
}

.chat-body{
    flex: 1;
    padding: 10px 50px;
    overflow-y: auto;
    background-color: #e5ddd5;
    background-size: cover;
    background-position: center;
}

.chat-body::-webkit-scrollbar{
    width: 6px;
    height: 6px;
}

.chat-body::-webkit-scrollbar-thumb{
    background-color: rgba(0, 0, 0, 0.2);
}

.chat-emojiarea{
    display: flex;
    width: 100%;
    justify-content: center;
    background-color: #e5ddd5;
}

.chat-footer {
    height: 62px;
    display: flex;
    align-items: center;
}

.footer-pre{
    display: flex;
    margin: 0 15px;
    cursor: pointer;
}

.footer-area{
    flex: 1;
}

.footer-area input {
    width: 100%;
    height: 40px;
    border: 0;
    outline: 0;
    border-radius: 50px;
    padding-left: 15px;
}

.footer-pos{
    display: flex;
    margin: 0 15px;
    cursor: pointer;
}
